body {
    width: 100vw;
    height: 100vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* background-color: black; */
    overflow: hidden;
}

h1{
    background-color: burlywood;
    color: rgb(71, 35, 170);
}

.card {
    display: grid;
    /* grid-template-columns: 300px; */
    /* grid-template-rows: 210px 210px 80px; */
    /* grid-template-areas: "image" "text" "stats"; */
  
    border-radius: 18px;
    background: rgb(136, 134, 245);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:20px;
  }

  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    background-color: chocolate;
  }
